{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/bardez_liquid_pump/header.png",
			"fileBody" : "/interface/bardez_liquid_pump/body.png"
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"press" : "/interface/xpress.png",
			"position" : [80, 132]
		},					
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [8, 35],
			"dimensions" : [4, 4],
			"spacing" : [22, 22],
			"backingImage" : "/interface/inventory/empty.png"
		}
	}
}